
@{
    ViewData["Title"] = "Contract";
}

<section id="contract" class="vh-100 d-flex align-items-center justify-content-center" data-aos="fade-down">
    <div>
        <h1>Contract</h1>
        <h1 class="display-2 text-white">Contract</h1>
    </div>
</section>
