
@{
    ViewData["Title"] = "Portfolio";
}

<section id="portfolio" class="vh-100 d-flex align-items-center justify-content-center" data-aos="fade-right">
    <div>
        <h1>Portfolio</h1>
        <h1 class="display-2 text-white">Portfolio</h1>
    </div>
</section>